$font-global: 'Work Sans', 'Avenir', Helvetica, Arial, sans-serif;
$font-header: 400 34px/40px $font-global;
$font-header--sub: 400 20px/24px $font-global;

// Main
$background-body: #fafafa;
$foreground-body: #393546;

$foreground-footer: #c0c0c0;

$background-navbar: #fafafa;
$shadow-navbar: 0 0 12px 0 rgba(black, 0);
$shadow-navbar--scrolled:  0 0 12px 0 rgba(black, 0.15);

$foreground-link: #3a218a;
$foreground-link--hover: #522bcd;

$foreground-header: #3a218a;
$foreground-header--sub: #9c91c0;

$background-highlight: #efefef;

// Loader
$background-loader: rgba(#fafafa, 0.5);
$foreground-loader: #868291;

// Modals
$background-overlay: rgba(#ffffff, 0.8);
$background-modal: #ffffff;
$foreground-modal: #393546;
$border-modal: 1px solid #e0e0e0;

// Blocks
$background-block: transparent;
$background-block__title: #fafafa;
$background-block__actions: #fafafa;
$border-block: 1px solid #e8e8e8;

// Pop-ups
$background-popup: #ffffff;
$foreground-popup: #393546;
$border-popup: 1px solid #e0e0e0;

// Buttons
$background-button: transparent;
$foreground-button: #502ebf;
$border-button: 1px solid #d1c6f5;
$background-button--hover: transparent;
$foreground-button--hover: rgba(#502ebf, 0.8);
$border-button--hover: 1px solid rgba(#d1c6f5, 0.8);

$background-button--cta: #502ebf;
$foreground-button--cta: #fafafa;
$border-button--cta: 1px solid #502ebf;
$background-button--cta--hover: rgba(#502ebf, 0.8);
$foreground-button--cta--hover: rgba(#fafafa, 0.8);
$border-button--cta--hover: 1px solid rgba(#502ebf, 0.8);

$background-button--faded: transparent;
$foreground-button--faded: #a1a1a1;
$border-button--faded: 1px solid transparent;
$background-button--faded--hover: transparent;
$foreground-button--faded--hover: rgba(#a1a1a1, 0.8);
$border-button--faded--hover: 1px solid transparent;

$background-button--disabled: transparent;
$foreground-button--disabled: #a0a0a0;
$border-button--disabled: 1px solid #a0a0a0;

$background-button--disabled--cta: #a0a0a0;
$foreground-button--disabled--cta: #fafafa;
$border-button--disabled--cta: 1px solid #a0a0a0;

// Inputs
$background-input: transparent;
$foreground-input: #7758dc;
$border-input: 1px solid #d0d0d0;

$background-input--disabled: #f0f0f0;
$foreground-input--disabled: #d0d0d0;
$border-input--disabled: 1px solid #a0a0a0;

$background-input--focus: #ffffff;
$foreground-input--focus: #502ebf;
$border-input--focus: 1px solid #502ebf;

$foreground-validation: #e04b4b;

$foreground-label: #a0a0a0;

$foreground-placeholder: #a0a0a0;

// Items
$background-item: #ffffff;
$foreground-item: #909090;
$border-item--link: 1px solid #d1c6f5;
$border-item--link--no-highlight: 1px solid #e0e0e0;

$foreground-item__status: #b0b0b0;
$foreground-item__suffix: #b0b0b0;
$foreground-item__icon: #b0b0b0;

$foreground-item--highlight__icon: #b19eee;
$foreground-item--highlight__name: #502ebf;
$foreground-item--highlight__suffix: #502ebf;

// Alerts
$background-alert: #502ebf;
$foreground-alert: #ffffff;

// Entity views
$foreground-entity-icon: #b19eee;